@charset "utf-8";

/* Global Styles */

body {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(206, 197, 197);
    font-size: 12pt;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
}
/* HEADER STYLES */
header {
    display: flex;
    background-color: rgb(27, 13, 75);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
header h1 {
    color: rgb(224, 39, 26);
    text-decoration: underline;
}

header label#searchLabel {
    font-size: 1.9em;
    color: rgba(149, 240, 29, 0.877);
}

header input#searchBar {
    padding: 10px;
    background-color: rgba(231, 236, 238, 0.911);
    margin-bottom: 20px;
    width: 30%;
    font-size: 1.6em;
    text-align: center;
} 

button#searchButton {
    font-size: 1.1em;
    height: 2.65rem;
    width: 250px;
}

/* SECTION STYLES */
section#weather {
    display: flex;
    background-color: rgba(209, 204, 202, 0.24);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    border: solid 1px;
    border-radius: 50px;
    min-height: 400px;
    padding: 10px;
}
section#weather > label {
    color:rgb(27, 13, 75);
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}
div#city {
    color: rgba(182, 189, 245, 0.904);
    font-size: 2.3em;
}

div#cityBackground {
    background-color: rgb(27,13,75);
    width: 100%;
    margin-top: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}
div#description {
    padding:20px;
    text-align: center;
    font-weight: bolder;
    color:rgb(109, 101, 99);
}



