@charset "utf-8";

/* Global Styles */

body {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(206, 197, 197);
    font-size: 12pt;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;

    background: rgb(0,27,36);
    background: linear-gradient(90deg, rgba(2, 7, 39, 0.932) 24%, rgba(121,9,118,1) 45%, rgba(0,212,255,1) 83%); 
}
/* HEADER STYLES */
header {
    display: flex;
    /* background-color: rgb(27, 13, 75); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
header h1 {
    color: rgb(224, 39, 26);
    text-decoration: underline;
}

header label#searchLabel {
    font-size: 1.9em;
    color: rgba(214, 218, 210, 0.336);
}

header input#searchBar {
    padding: 10px;
    background-color: rgba(231, 236, 238, 0.911);
    border-radius: 50px;
    margin-bottom: 20px;
    width: 30%;
    font-size: 1.6em;
    text-align: center;
} 
/* BUTTON */
button#searchButton {
    font-size: 1.1em;
    height: 2.65rem;
    min-width: 250px;
    border:none;
    border-radius: 50px;
    background-color:lawngreen;
}

/* SECTION STYLES */
section#weather {
    display: flex;
    background-color: rgba(209, 204, 202, 0.158);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    border: solid 1px white;
    border-radius: 50px;
    min-height: 700px;
    padding: 10px;
    
}
section#weather > label {
    color:rgb(176, 174, 182);
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
   
}

section#weather div:not(:first-child, :last-child) {
    letter-spacing: 0.1em;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.7;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 2px solid white;
}
div#city {
    color: rgba(182, 189, 245, 0.904);
    font-size: 3.3em;
}

div#cityBackground {
    background-color: rgb(27,13,75);
    width: 100%;
    min-height: 100px;
    margin-top: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}
div#description {
    padding:20px;
    text-align: center;
    font-weight: 500;
    font-size: 1.8em;
    color:rgba(192, 186, 185, 0.877);
    border: none;
  
}
/* Mobile layouts */
@media only screen and (max-width: 600px)  {
    div#city, div#description, section#weather > label {
        font-size: 14pt;
    }

    button#searchButton {
        font-size: 14pt;
        height: 2.65em;
        min-width: 150px;
        border:none;
        border-radius: 50px;
        background-color:lawngreen;
    }

    header input#searchBar {
       min-width: 200px;
    } 

    section#weather {
        margin-left:auto;
        margin-right:auto;
    }
}



